body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  align-items: center;
  justify-content: center;
  display: flex;
  max-height: 100vh;
}

.left {
  margin: auto 0 auto 5rem;
}

.right {  
  margin: auto 0;
  display: flex;
}

.right img {
  max-width: 50vw;
  max-height: 60%;
}
